In [3]:
##Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learnin', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

       course_name  duration
0     Data Science         2
1  Machine Learnin         3
2         Big Data         6
3    Data Engineer         4

In [ ]:
Q1. Write a code to print the data present in the second row of the dataframe, df.

In [9]:
df.iloc[1]

course_name    Machine Learnin
duration                     3
Name: 1, dtype: object

In [ ]:
Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [ ]:
loc (Label-based Indexing)
Purpose: Used for label-based indexing.
Usage: Access rows and columns using labels (i.e., the names of the indices and columns).
Syntax: df.loc[row_label, column_label]

Purpose: Used for integer-based (positional) indexing.
Usage: Access rows and columns using their integer positions.
Syntax: df.iloc[row_index, column_index]

In [10]:
df.loc[1, 'duration']

3

In [11]:
df.iloc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [ ]:
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [17]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

In [18]:
new_df

       course_name  duration
3    Data Engineer         4
0     Data Science         2
1  Machine Learnin         3
2         Big Data         6

In [20]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [21]:
new_df.iloc[2]

course_name    Machine Learnin
duration                     3
Name: 1, dtype: object

In [ ]:
.loc uses the label-based indexing (loc), so it will return the row with the original index label 2
.iloc uses the integer-based indexing (iloc), so it will return the third row by position 
(index 2 in the reindexed DataFrame)

In [22]:
#Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [ ]:
Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [23]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.585698  0.743691  0.726807  0.348198  0.785714  0.135998
2  0.400791  0.567196  0.737053  0.649748  0.442106  0.450046
3  0.664275  0.040075  0.168441  0.074671  0.550154  0.164731
4  0.656378  0.925680  0.536862  0.602540  0.240437  0.784876
5  0.986933  0.569733  0.242623  0.260550  0.983569  0.869070
6  0.867289  0.820319  0.052486  0.035739  0.455462  0.861654

In [26]:
df1['column_1'].mean()

0.6935604884614907

In [28]:
df1['column_2'].mean()

0.6111156927768925

In [29]:
df1['column_3'].mean()

0.4107122042221731

In [30]:
df1['column_4'].mean()

0.32857436103477866

In [31]:
df1['column_5'].mean()

0.5762403545293796

In [32]:
df1['column_6'].mean()

0.5443956435421747

In [33]:
df1['column_2'].std()

0.3130565419561673

In [ ]:
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [35]:
df1.loc[2,'column_2']='string variable'

In [36]:
df1

   column_1         column_2  column_3  column_4  column_5  column_6
1  0.585698         0.743691  0.726807  0.348198  0.785714  0.135998
2  0.400791  string variable  0.737053  0.649748  0.442106  0.450046
3  0.664275         0.040075  0.168441  0.074671  0.550154  0.164731
4  0.656378          0.92568  0.536862  0.602540  0.240437  0.784876
5  0.986933         0.569733  0.242623  0.260550  0.983569  0.869070
6  0.867289         0.820319  0.052486  0.035739  0.455462  0.861654

In [46]:
mean_2 = pd.to_numeric(df1['column_2'], errors='coerce').mean()

In [42]:
mean_2

0.33336184589871454

In [ ]:
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In [ ]:
window functions are used to perform operations over a sliding window of data,use to calculate rolling 
statistics and applying functions to subsets of data within a DataFrame or Series.
These functions help in performing operations like rolling mean, rolling sum, rolling standard deviation,
and more, by applying them to a specific window of observations.

Types of Window Functions 

rolling(window): Creates a rolling window object.
rolling().mean(): Calculates the rolling mean.
rolling().sum(): Calculates the rolling sum.
rolling().std(): Calculates the rolling standard deviation.
rolling().min(), rolling().max(), etc

In [49]:
df['rolling_mean'] = df['duration'].rolling(window=3).mean()
df

       course_name  duration  rolling_mean
0     Data Science         2           NaN
1  Machine Learnin         3           NaN
2         Big Data         6      3.666667
3    Data Engineer         4      4.333333

In [ ]:
Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [51]:
current_date = pd.Timestamp.now()
current_month = current_date.month
current_year = current_date.year
current_year

2024

In [52]:
current_month

7

In [ ]:
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
from datetime import datetime, timedelta
def calculate_time_difference(date1, date2):
    date_format = '%Y-%m-%d'
    date1 = datetime.strptime(date1, date_format)
    date2 = datetime.strptime(date2, date_format)
    
    time_diff = date2 - date1
    
    days_diff = time_diff.days
    hours_diff = time_diff.seconds // 3600
    minutes_diff = (time_diff.seconds % 3600) // 60
    
    return days_diff, hours_diff, minutes_diff

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

days, hours, minutes = calculate_time_difference(date1, date2)

print(f"\nDifference between {date1} and {date2}:")
print(f"Days: {days}")
print(f"Hours: {hours}")
print(f"Minutes: {minutes}")

In [ ]:
Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

def read_csv(file_path):
    return pd.read_csv(file_path)

def convert_to_categorical(data, column_name, category_order):
    
    data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)
    return data.sort_values(by=column_name)

def main():
    file_path = input("Enter the file path: ")
    column_name = input("Enter the column name: ")
    category_order = input("Enter the category order (comma separated): ").split(',')

    data = read_csv(file_path)
    sorted_data = convert_to_categorical(data, column_name, category_order)

    print("\nSorted Data:")
    print(sorted_data)

In [ ]:
Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd

def read_csv(file_path):
    return pd.read_csv(file_path)
def main():
    file_path = input("Enter the path to the CSV file: ")
    df = read_csv(file_path)

In [ ]:
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
import pandas as pd
from statistics import mode, StatisticsError
from tabulate import tabulate

def read_csv(file_path):
    try:
        df = pd.read_csv(file_path)
        return df
    except FileNotFoundError:
        print("File not found. Please check the file path and try again.")
        return None

def calculate_statistics(df):
    
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    try:
        mode_score = mode(df['Test Score'])
    except StatisticsError:
        mode_score = df['Test Score'].mode().tolist()
    
    return mean_score, median_score, mode_score

def display_statistics(mean, median, mode):
    table = [
        ["Mean", mean],
        ["Median", median],
        ["Mode", ', '.join(map(str, mode)) if isinstance(mode, list) else mode]
    ]
    print(tabulate(table, headers=["Statistic", "Value"], tablefmt="grid"))

def main():
    file_path = input("Enter the file path")
    df = read_csv(file_path)
    
    if df is not None:
        mean_score, median_score, mode_score = calculate_statistics(df)
        display_statistics(mean_score, median_score, mode_score)